@charset "utf-8";

body{
    margin: 0 auto;
    text-align: center;
}

header{
    background-color: rgb(34, 32, 32);
    display: flex;
    align-items: center;
    width: 100%;
}

.logo{
    text-align: left;
    padding-left: 30px;
}

nav{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li{
    padding: 5px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}

section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

article{
    flex: 1 1 250px; /* grow, shrink, basis (inicial) // 1 = true -> pode aumentar e diminuir se não tiver espaço*/
    max-width: 500px;
}

img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 670px) and (min-width: 400px){ /* versão celular */
    .logo{
        font-size: 60px;
    }
    
    ul{
        flex-direction: column;
        align-items: flex-end;
    }

    li{
        font-size: 20px;
        background-color: rgb(91, 89, 87);
        width: 100px;
        text-align: left;
    }

    section{
        width: 90%;
    }

    article p{
        font-size: 20px;
    }
}
